*{
    margin: 0px;
    padding: 0px;
    
}
body{
    overflow-x: hidden;
    background-color: #f4f4f4;
}
#header #nav {
    margin: 0 auto;
    height: 80px;
    width: 1270px;
}
#header #nav a{
    text-decoration: none;
    color: #000;
}
#header #nav #logo img{
    width: 125px;
    height: 23px;
    margin-top: 28px;
    position: relative;
    top:-30px;
    left: 50px;
}
#header #nav .logo{
    display: inline-block;
    line-height: 80px;
    width: 150px;
    height: 80px;
}
#header #nav #nav1{
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    /* float: right; */
    display: inline-block;
    width: 378px;
    height: 80px;
    line-height: 80px;
    position: relative;
    left: 290px;
    top:0x;
}
#header>#nav>#nav1>li{
    
    height: 82px;
    float: left;
    text-align: center;
    padding: 0 15px;
}
#header>#nav>#nav1>li>a:hover{
    color: #00c3f5;
}
#header>#nav>#nav1>li:hover #h1{
    display: block;
}

#header #nav #nav2{
    display: inline-block;
    list-style-type: none;
    height: 80px;
    /* float: right; */
    position: relative;
    left: 440px;
    top:0x;
}
#header #nav #nav2 input{
    width: 150px;
    height: 25px;
    border: 1px solid rgba(0,0,0,0.15);
    background: url(../img/top1.png) no-repeat 132px;
    background-size: 20px;
    border-radius: 30px;
    outline: none;
    padding-left: 10px;
}
#header #nav #nav2 #input{
    /* padding: 0px; */
    margin: 0px;
    width: 150px;
    height: 30px;
    position: relative;
    left: -3px;
}
#header #nav #nav2 .user:hover ul{
    display: block;
}
#header #nav #nav2>li{
    float: left;
    text-align: center;
    position: relative;
    padding: 26px 8px 22px 12px;
}
#header #nav #nav2>li ul{
    background-color: #fff;
    display: none;
    box-shadow: 0 0 5px #999;
    border-radius: 5px;
    position: absolute;
    left: -23px;
    top: 62px;
    list-style: none;
}
#header #nav #nav2>li ul li a:hover{
    color: #00c3f5;
}
#header #nav #nav2>li ul:hover{
    display: block;
}
#header #nav #nav2>li ul li a{
    display: block;
    padding: 12px 25px;
    font-size: 12px;
    width: 50px;
}

#header #nav #nav2>li img{
    margin-top:0px ;
    width: 28px;
    height: 28px;
}
#header #nav #nav1 #h1{
    z-index: 1000;
    display: none;
    position: absolute;
    left: -543px;
    top: 80px;
    background-color: #fff;
    min-width: 100%;
    
    height: auto;
}

#header #nav #nav1 #h1 #hh1{
    width: 1518px;
    margin: 0 auto;
}

#header #nav #nav1 #h1 #hh1 img{
    display: block;
    width: 120px;
    margin: 0 auto;
}
#header #nav #nav1 #h1 #hh1 .font{
    line-height: normal;
    padding-top: 5px;
}
#header #nav #nav1 #h1 #hh1 .font p{
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
}
#header #nav #nav1 #h1 #hh1 span{
    display: inline-block;
    font-size: 13px;
}
#header #nav #nav1 #h1 #hh1 ul{
    text-align: center;
    padding-top: 5px;
}
#header #nav #nav1 #h1 #hh1 ul li{
    display: inline-block;
    padding: 5px 5px 20px;
    width: 142px;
    height: 140px; 
    overflow: hidden;
}
#header #nav #nav1 #h1 #hh1 ul li .bg{
    width: 152px;
    height: 186px;
    position: absolute;
    top: 0;
}
#header #nav #nav1 #h1 #hh1 ul:hover .bg{
    background-color: #fff;
    opacity: 0.5;
    
}
#header #nav #nav1 #h1 #hh1 ul li:hover .bg{
    opacity: 0;
}
#header #bg{
    height: 660px;
    width: 100%;
    background: url(../img/lunbo_index.jpg) no-repeat center;
    position: absolute;
    top: 0;
    z-index: -2;
}
#header #bg1{
    width: 1520px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    top: 0;
    z-index: -1;
    display: none;
}
#header #nav:hover+div{
    display: block;
}
/* head结束 */
/* banner开始 */
#banner .banner_img{
    display: block;
    float: left;
    position: relative;
    width: 25%;
    /* padding-top:45px; */
    text-align: center;
    padding-top: 45px;
    text-decoration: none;
}

#banner .banner_img p{
    font-size: 20px;
    color: #000;
}
#banner .banner_img span{
    font-size: 12px;
    color: #999;
}
#banner .banner_img img{
    height: 130px;
    margin: 0 auto;
}
/* banner结束 */
/* centent开始 */
 /* 手机开始 */
 #centent #shouji .shouji_head{
    height: 106px;
    font: 30px bold;
    line-height: 106px;
    text-align: center;
 }
 #centent #shouji .shouji_title{
    position: absolute;
    left: 50%;
    margin-left: -1280px;
 }
 /* 大图的样式 */
 #centent #shouji .shouji_centent ul{
     position: absolute;
     top: 580px;
     left: 50%;
     margin-left: -640px;
 }
 #centent #shouji .shouji_centent ul .shouji_centent_da{
    float: left;
    display: block;
    width: 620px;
    height: 610px;
    background-color: #fff;
    text-align:center;
    margin-left: 10px;
    padding-top: 60px;
 }
 #centent #shouji .shouji_centent ul .shouji_centent_da a{
      text-decoration: none;
      color:#333;
 }
 #centent #shouji .shouji_centent ul .shouji_centent_da a .shouji_centent_head{
     font-size: 20px;
 }
 #centent #shouji .shouji_centent ul .shouji_centent_da a .shouji_centent_qian{
    font-size: 20px;
    color: rgb(247, 8, 8);
 }
 #centent #shouji .shouji_centent ul li .shouji_centent_tou{
     height: 500px;
     width: 480px;
 }
 #centent #shouji .shouji_centent ul li .shouji_centent_xiaotu{
    height: 240px;
    width: 230px;
    margin-top: 40px;
 }
 /* 小图的样式 */
 #centent #shouji .shouji_centent ul .shouji_centent_xiao{
    list-style: none;
    padding-top: 100px;
 }
 #centent #shouji .shouji_centent ul .shouji_centent_xiao a{        
     width: 305px;
     height: 370px;
     float: left;
     text-align:center;
     margin-left: 10px;
     margin-top: 10px;
     background-color: #fff;
     text-decoration: none;
     color: #333;

 }
 #centent #shouji .shouji_centent ul .shouji_centent_xiao a .shouji_centent_xiaotuhead{
     font-size: 12px;
     color: #999;
 }
 #centent #shouji .shouji_centent ul .shouji_centent_xiao a .shouji_centent_xiaotuqian{
      font-size: 20px;
    color: rgb(247, 8, 8);
 }
 /* 手机结束 */
 /* 声学没声 开始*/
 #centent #shengxue .shengxue_head{
    height: 106px;
    font: 30px bold;
    line-height: 106px;
    text-align: center;
    
}
#centent #shengxue{
    position: absolute;
    top: 2030px;
    left: 50%;
    margin-left: -1280px;
    
}
#centent #shengxue .shengxue_centent ul li .shengxue_centent_xiaotu{
    height: 180px;
    width: 160px;
    margin-top: 50px;
}
#centent #shengxue .shengxue_centent{
    margin-left: 640px;
    width: 1280px;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiao{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiao p{
    font-size: 20px;
    color: #333;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiao .shengxue_centent_xiaotuhead{
    font: 20px;
    color: #999;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiao .shengxue_centent_xiaotuqian{
    font-size: 20px;
    color: rgb(247, 8, 8);
}
/* 第一第五不同 */
#centent #shengxue .shengxue_centent  .shengxue_centent_xiaoone{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background: url("../img/img1/6.jpg") no-repeat;
    background-size: 305px 370px;
}

#centent #shengxue .shengxue_centent  .shengxue_centent_xiaoone .shengxue_centent_xiaoonewenzi{
    margin-top: 260px;
    color: #fff;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiaoone .shengxue_centent_xiaoonewenzi span{
    font-size: 12px;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiaoone .shengxue_centent_xiaoonewenzi p{
    font-size: 20px;
    color: rgb(248, 244, 4);
    font-weight: bold;
}
/* 第5个 */
#centent #shengxue .shengxue_centent  .shengxue_centent_xiaotwo{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background: url("../img/img1/35.jpg") no-repeat;
    background-size: 305px 370px;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiaotwo .shengxue_centent_xiaoonewenzi{
    margin-top: 260px;
    color: #fff;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiaotwo .shengxue_centent_xiaoonewenzi span{
    font-size: 12px;
}
#centent #shengxue .shengxue_centent  .shengxue_centent_xiaotwo .shengxue_centent_xiaoonewenzi p{
    font-size: 20px;
    color: rgb(248, 244, 4);
    font-weight: bold;
}
/* 声学结束 */
/* 智能开始 */
#centent #zhineng .zhineng_head{
    height: 106px;
    font: 30px bold;
    line-height: 106px;
    text-align: center;
    
}
#centent #zhineng{
    position: absolute;
    top: 3360px;
    left: 50%;
    margin-left: -1280px;
    
}
#centent #zhineng .zhineng_centent ul li .zhineng_centent_xiaotu{
    height: 180px;
    width: 160px;
    margin-top: 40px;
}
#centent #zhineng .zhineng_centent{
    margin-left: 640px;
    width: 1280px;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiao{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiao p{
    font-size: 20px;
    color: #333;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiao .zhineng_centent_xiaotuhead{
    font: 20px;
    color: #999;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiao .zhineng_centent_xiaotuqian{
    font-size: 20px;
    color: rgb(247, 8, 8);
}
/* 第一第五不同 */
#centent #zhineng .zhineng_centent  .zhineng_centent_xiaoone{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background: url(../img/9.jpg) no-repeat;
    background-size: 305px 370px;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiaoone .zhineng_centent_xiaoonewenzi{
    margin-top: 260px;
    color: #fff;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiaoone .zhineng_centent_xiaoonewenzi span{
    font-size: 12px;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiaoone .zhineng_centent_xiaoonewenzi p{
    font-size: 20px;
    color: rgb(248, 244, 4);
    font-weight: bold;
}
/* 第5个 */
#centent #zhineng .zhineng_centent  .zhineng_centent_xiaotwo{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background: url(../img/10.jpg) no-repeat;
    background-size: 305px 370px;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiaotwo .zhineng_centent_xiaoonewenzi{
    margin-top: 260px;
    color: #fff;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiaotwo .zhineng_centent_xiaoonewenzi span{
    font-size: 12px;
}
#centent #zhineng .zhineng_centent  .zhineng_centent_xiaotwo .zhineng_centent_xiaoonewenzi p{
    font-size: 20px;
    color: rgb(248, 244, 4);
    font-weight: bold;
}
/* 智能结束 */

/* 生活周边开始 */
#centent #shenghuo .shenghuo_head{
    height: 106px;
    font: 30px bold;
    line-height: 106px;
    text-align: center;
    
}
#centent #shenghuo{
    position: absolute;
    top: 4680px;
    left: 50%;
    margin-left: -1280px;
    
}
#centent #shenghuo .shenghuo_centent ul li .shenghuo_centent_xiaotu{
    height: 180px;
    width: 160px;
    margin-top: 40px;
}
#centent #shenghuo .shenghuo_centent{
    margin-left: 640px;
    width: 1280px;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiao{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiao p{
    font-size: 20px;
    color: #333;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiao .shenghuo_centent_xiaotuhead{
    font: 20px;
    color: #999;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiao .shenghuo_centent_xiaotuqian{
    font-size: 20px;
    color: rgb(247, 8, 8);
}
/* 第一第五不同 */
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiaoone{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background: url(../img/11.jpg) no-repeat;
    background-size: 305px 370px;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiaoone .shenghuo_centent_xiaoonewenzi{
    margin-top: 260px;
    color: #fff;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiaoone .shenghuo_centent_xiaoonewenzi span{
    font-size: 12px;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiaoone .shenghuo_centent_xiaoonewenzi p{
    font-size: 20px;
    color: rgb(248, 244, 4);
    font-weight: bold;
}
/* 第5个 */
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiaotwo{   
    display: block;     
    width: 305px;
    height: 370px;
    float: left;
    list-style: none;
    text-align:center;
    margin-left: 10px;
    margin-top: 10px;
    background: url(../img/12.jpg) no-repeat;
    background-size: 305px 370px;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiaotwo .shenghuo_centent_xiaoonewenzi{
    margin-top: 260px;
    color: #fff;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiaotwo .shenghuo_centent_xiaoonewenzi span{
    font-size: 12px;
}
#centent #shenghuo .shenghuo_centent  .shenghuo_centent_xiaotwo .shenghuo_centent_xiaoonewenzi p{
    font-size: 20px;
    color: rgb(248, 244, 4);
    font-weight: bold;
}
/* 生活周边结束 */
/* 社区热帖开始 */
#centent #shequ {
    width: 1280px;
    position: absolute;
    top: 6010px;
    left: 50%;
    margin-left: -640px;
}
#centent #shequ #shequ_head{
    height: 106px;
    text-align: center;
    font: 30px bold;
    line-height: 106px;
}
#centent #shequ .shequ_centent ul li{
    display: block;
    list-style: none;
    background-color: #fff;
    width: 305px;
    height: 385px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#centent #shequ .shequ_centent ul li a{
    text-decoration: none;
    color: #000;
}
#centent #shequ .shequ_centent ul li:hover{
    box-shadow: 0px 5px 5px #999999;
}
#centent #shequ .shequ_centent ul li .touxiang img{
    widows: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 20px;
}
#centent #shequ .shequ_centent ul li .touxiang .aa{
    position: relative;
    top: -8px;
    
}
#centent #shequ .shequ_centent ul li .shequ_centent{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
    color: #515151;
}
#centent #shequ .shequ_centent ul li .shequ_huati{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #999999;
}
#centent #shequ .shequ_centent ul li .shequ_tupian img{
    width: 305px;
    height: 190px;
}
/* 社区热帖结束 */
/* flyMe开始 */
#centent #flyme{
    position: absolute;
    top: 6900px;
    left: 50%;
    margin-left: -640px;
    width: 1280px;
}
#centent #flyme .flyme_head{
    height: 106px;
    font: 30px bold;
    line-height: 106px;
    text-align: center;
}
#centent #flyme .flyme_centent ul li a .flyme_daimg{
    width: 620px;
    height: 250px;
}
#centent #flyme .flyme_centent ul li a .flyme_xiaoimg{
    width: 305px;
    height: 190px;
}
#centent #flyme .flyme_centent ul li a p{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#centent #flyme .flyme_centent ul li a{
    text-decoration: none;
    color: #515151;
}
#centent #flyme .flyme_centent ul li{
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background: #fff;
}
/* flyMe结束 */
 /* 视频开始 */
 #centent #shipin .shipin_head{
    height: 106px;
    font: 30px bold;
    line-height: 106px;
    text-align: center;
}
 #centent #shipin{
    position: absolute;
    top: 7530px;
    left: 50%;
    margin-left: -640px;
    width: 1280px;
}
 #centent #shipin .shipin_centent ul li a .shipin_img{
    width: 305px;
    height: 190px;
}
#centent #shipin .shipin_centent ul li{
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background: #fff;
}
#centent #shipin .shipin_centent ul li a {
    text-decoration: none;
    color: #515151;
}
#centent #shipin .shipin_centent ul li a p{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
 /* 视频结束 */
/* centent结束 */
/* footer开始 */
#footer #footer1{
    width: 1240px;
    margin: 0 auto;
}


#footer #footer_top #navbuttom ul{
    display: inline-block;
    list-style-type: none;
    width: 1000px;
    height: 69px;
    
}
#footer #footer_top #navbuttom ul li{
    text-align: center;

    width: 15%;
    float: left;
}
#footer #footer_top #navbuttom ul li span{
    font-size: 12px;
    color: #999;
}
#footer #footer_top #navbuttom ul li img{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 39px;
}
#footer #footer_top #footer_right{
    display: inline-block;
    /* margin-left: 150px; */
    width: 162px;
    height: 100px;
    text-align: right;
    margin-top: -18px;
    float: right;
}
#footer #footer_top #footer_right a{
    height: 30px;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
    display: inline-block;
    font-size: 14px;
    background: #0bbbef;
    text-decoration: none;
}
#footer #footer_top #footer_right p{
    color: #00c3f5; 
    font-size: 24px;
    font-weight: 400;
    margin-top: -6px;
    line-height: 40px;
}
#footer #footer_top #footer_right span{
    line-height: 30px;
    font-size: 12px;
    color: #999;
}

#footer hr{
    margin: 30px auto;

    border: 0;
    border-top: 1px solid #eee;
}

#footer #footer_buttom {
   position: relative;
    
}
#footer #footer_buttom #xia_one{
    margin-bottom: 15px;
}
#footer #footer_buttom #xia_one ul{
    list-style-type: none;
    
    
    height: 16px;
}
#footer #footer_buttom #xia_one ul li{
    float: left;
    height: 18px;
    padding-right:15px ;
    margin-right: 15px;
    border-right: 1px solid #d6d6d6;
}
#footer #footer_buttom #xia_one ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #999;
}
#footer #footer_buttom #xia_one ul li a:hover{
    color: #00c3f5;
}
#footer #footer_buttom #xia_two {
    font-size: 12px;
    color: #999999;
    height: 16px;
    

}
#footer #footer_buttom #xia_two a{
    text-decoration:none;
    color: #999;
    margin-right: 7px;
}
#footer #footer_buttom #xia_two .aa{
    margin-left: 20px;
}
#footer #footer_buttom #xia_two a:hover{
    color: #00c3f5;
}
#footer #footer_buttom #fotter_img{
    position: absolute;
    bottom: 0;
    right: 0;
}
#footer #footer_buttom #fotter_img a:nth-child(4){
    padding-right: 0;
}
#footer #footer_buttom #fotter_img a{
    display: inline-block;
    padding-right: 20px;
}
#footer #footer_buttom #fotter_img a img{
    display: block;
    position: absolute;
    top: -190px;
    display: none;
    left: -15px;
}
#footer #footer_buttom #fotter_img a:hover img{
    
    display: block;
}
#footer #footer_buttom #fotter_img a span{
    display: inline-block;
    width: 21px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95%;
}
#footer #footer_buttom #fotter_img a:hover .img1{
    background-image: url(../img/img1/cx1.png);
}
#footer #footer_buttom #fotter_img a:hover .img2{
    background-image: url(../img/img1/wx1.png);
}
#footer #footer_buttom #fotter_img a:hover .img3{
    background-image: url(../img/img1/kj1.png);
}
#footer #footer_buttom #fotter_img a:hover .img4{
    background-image: url(../img/img1/wb1.png);
}
#footer #footer_buttom #fotter_img .img1{
    background-image: url(../img/img1/cx.png);
}
#footer #footer_buttom #fotter_img .img2{
    background-image: url(../img/img1/wx.png);
}
#footer #footer_buttom #fotter_img .img3{
    background-image: url(../img/img1/kj.png);
}
#footer #footer_buttom #fotter_img .img4{
    background-image: url(../img/img1/wb.png);
}
/* footer结束 */