*{
    margin: 0px;
    padding: 0px;
}
#header #nav {
    margin: 0 auto;
    height: 80px;
    width: 1270px;
}
#header #nav a{
    text-decoration: none;
    color: #000;
}
#header #nav #logo img{
    width: 125px;
    height: 23px;
    margin-top: 28px;
    position: relative;
    top:-30px;
    left: 50px;
}
#header #nav .logo{
    display: inline-block;
    line-height: 80px;
    width: 150px;
    height: 80px;
}
#header #nav #nav1{
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    /* float: right; */
    display: inline-block;
    width: 378px;
    height: 80px;
    line-height: 80px;
    position: relative;
    left: 290px;
    top:0x;
}
#header>#nav>#nav1>li{
    
    height: 82px;
    float: left;
    text-align: center;
    padding: 0 15px;
}
#header>#nav>#nav1>li>a:hover{
    color: #00c3f5;
}
#header>#nav>#nav1>li:hover #h1{
    display: block;
}

#header #nav #nav2{
    display: inline-block;
    list-style-type: none;
    height: 80px;
    /* float: right; */
    position: relative;
    left: 440px;
    top:0x;
}
#header #nav #nav2 input{
    width: 150px;
    height: 25px;
    border: 1px solid rgba(0,0,0,0.15);
    background: url(../img/top1.png) no-repeat 132px;
    background-size: 20px;
    border-radius: 30px;
    outline: none;
    padding-left: 10px;
}
#header #nav #nav2 #input{
    /* padding: 0px; */
    margin: 0px;
    width: 150px;
    height: 30px;
    position: relative;
    left: -3px;
}
#header #nav #nav2 .user:hover ul{
    display: block;
}
#header #nav #nav2>li{
    float: left;
    text-align: center;
    position: relative;
    padding: 26px 8px 22px 12px;
}
#header #nav #nav2>li ul{
    background-color: #fff;
    display: none;
    box-shadow: 0 0 5px #999;
    border-radius: 5px;
    position: absolute;
    left: -23px;
    top: 62px;
    list-style: none;
}
#header #nav #nav2>li ul li a:hover{
    color: #00c3f5;
}
#header #nav #nav2>li ul:hover{
    display: block;
}
#header #nav #nav2>li ul li a{
    display: block;
    padding: 12px 25px;
    font-size: 12px;
    width: 50px;
}

#header #nav #nav2>li img{
    margin-top:0px ;
    width: 28px;
    height: 28px;
}
#header #nav #nav1 #h1{
    z-index: 1000;
    display: none;
    position: absolute;
    left: -543px;
    top: 82px;
    background-color: #fff;
    min-width: 100%;
    
    height: auto;
}

#header #nav #nav1 #h1 #hh1{
    width: 1518px;
    margin: 0 auto;
}

#header #nav #nav1 #h1 #hh1 img{
    display: block;
    width: 120px;
    margin: 0 auto;
}
#header #nav #nav1 #h1 #hh1 .font{
    line-height: normal;
    padding-top: 5px;
}
#header #nav #nav1 #h1 #hh1 .font p{
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
}
#header #nav #nav1 #h1 #hh1 span{
    display: inline-block;
    font-size: 13px;
}
#header #nav #nav1 #h1 #hh1 ul{
    text-align: center;
    padding-top: 5px;
}
#header #nav #nav1 #h1 #hh1 ul li{
    display: inline-block;
    padding: 5px 5px 20px;
    width: 142px;
    height: 140px; 
    overflow: hidden;
}
#header #nav #nav1 #h1 #hh1 ul li .bg{
    width: 152px;
    height: 186px;
    position: absolute;
    top: 0;
}
#header #nav #nav1 #h1 #hh1 ul:hover .bg{
    background-color: #fff;
    opacity: 0.5;
    
}
#header #nav #nav1 #h1 #hh1 ul li:hover .bg{
    opacity: 0;
}
/* head结束 */
/* content start yzc */
/* mbx start yzc */
#content>#mbx{
    width: 1240px;
    height: 29.6px;
    margin: 87px auto 25px;
    position: relative;
}
#content>#mbx>span{
    display: block;
    width: 60px;
    height: 29.6px;
    font-size: 30px;
}
#content>#mbx>.right{
    position: absolute;
    right: 0;
    bottom: 0;
}
#content>#mbx>.right>a{
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
}
#content>#mbx>.right>.a11{
    display: inline-block;
    padding-right: 20px;
    background: url(../img/mic_jiantou_05.png) right center no-repeat;
}
#content>#mbx>.right>a:link,#content>#mbx>.right>a:visited{
    color: #000;
}
#content>#mbx>.right>a:hover{
    color: #4ed2f4;
}
/* mbx end yzc */
/* body start yzc */
#content>#body{
    width: 1240px;
    height: 3500px;
    /* background: #f00; */
    margin: 0 auto;
    position: relative;
}
#content>#body>ul{
    width: 1420px;
    list-style: none;
}
#content>#body>ul>li{
    float: left;
    text-align: center;
    margin: 15px 15px 0 0;
}
#content>#body>ul>li a{
    display: block;
    text-decoration: none;
    width: 403px;
    height: 489.2px;
    background: #fff;
    padding: 40px 0 28px;
}
#content>#body>ul>li .kb{
    height: 30px;
    margin: 0 41.5px 15px;
}
#content>#body>ul>li img{
    margin: 0 41.5px 15px;
}
#content>#body>ul>li h3{
    width: 403px;
    height: 34.4px;
    font-size: 23px;
    color: #000;
    text-align: center;
}
#content>#body>ul>li p{
    font-size: 16px;
    margin: 5px 0;
    color: #666666;
}
#content>#body>ul>li .img1{
    visibility: hidden;
}
#content>#body>ul>li .c1{
    width: 403px;
    height: 41.6px;
}
#content>#body>ul>li .c1>.s1{
    color: #cc0000;
}
#content>#body>ul>li .c1>.s2{
    color: #cc0000;
    font-size: 30px;
}
#content>#body>ul li:hover{
    box-shadow: 0px 0px 50px #ccc;
}
#content>#body>ul li:hover>a>.img1{
    visibility: inherit;
}
/* body end yzc */
/* body1 start yzc */
#content>h2{
    width: 1240px;
    margin: -15px auto 15px;
}
#content>#body1{
    width: 1240px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
}
#content>#body1>a{
    float: left;
    width: 310px;
    height: 429.2px;
    text-decoration: none;
    margin: 40px 0 44px;
    text-align: center;
}
#content>#body1>a>h4{
    width: 310px;
    height: 31.2px;
    font-size: 21px;
    color: #000;
    margin: 45px 0 25px;
}
#content>#body1 .c1{
    width: 310px;
}
#content>#body1 .c1>.s1{
    color: #cc0000;
}
#content>#body1 .c1>.s2{
    color: #cc0000;
    font-size: 30px;
}
#content>#body1>a:hover>img{
    transform: scale(1.2);
}
/* body1 end yzc */
/* content end yzc */
/* footer开始 */
#footer #footer1{
    width: 1240px;
    margin: 0 auto;
}


#footer #footer_top #navbuttom ul{
    display: inline-block;
    list-style-type: none;
    width: 1000px;
    height: 69px;
    
}
#footer #footer_top #navbuttom ul li{
    text-align: center;

    width: 15%;
    float: left;
}
#footer #footer_top #navbuttom ul li span{
    font-size: 12px;
    color: #999;
}
#footer #footer_top #navbuttom ul li img{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 39px;
}
#footer #footer_top #footer_right{
    display: inline-block;
    /* margin-left: 150px; */
    width: 162px;
    height: 100px;
    text-align: right;
    margin-top: -18px;
    float: right;
}
#footer #footer_top #footer_right a{
    height: 30px;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
    display: inline-block;
    font-size: 14px;
    background: #0bbbef;
    text-decoration: none;
}
#footer #footer_top #footer_right p{
    color: #00c3f5; 
    font-size: 24px;
    font-weight: 400;
    margin-top: -6px;
    line-height: 40px;
}
#footer #footer_top #footer_right span{
    line-height: 30px;
    font-size: 12px;
    color: #999;
}

#footer hr{
    margin: 30px auto;

    border: 0;
    border-top: 1px solid #eee;
}

#footer #footer_buttom {
   position: relative;
    
}
#footer #footer_buttom #xia_one{
    margin-bottom: 15px;
}
#footer #footer_buttom #xia_one ul{
    list-style-type: none;
    
    
    height: 16px;
}
#footer #footer_buttom #xia_one ul li{
    float: left;
    height: 18px;
    padding-right:15px ;
    margin-right: 15px;
    border-right: 1px solid #d6d6d6;
}
#footer #footer_buttom #xia_one ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #999;
}
#footer #footer_buttom #xia_one ul li a:hover{
    color: #00c3f5;
}
#footer #footer_buttom #xia_two {
    font-size: 12px;
    color: #999999;
    height: 16px;
    

}
#footer #footer_buttom #xia_two a{
    text-decoration:none;
    color: #999;
    margin-right: 7px;
}
#footer #footer_buttom #xia_two .aa{
    margin-left: 20px;
}
#footer #footer_buttom #xia_two a:hover{
    color: #00c3f5;
}
#footer #footer_buttom #fotter_img{
    position: absolute;
    bottom: 0;
    right: 0;
}
#footer #footer_buttom #fotter_img a:nth-child(4){
    padding-right: 0;
}
#footer #footer_buttom #fotter_img a{
    display: inline-block;
    padding-right: 20px;
}
#footer #footer_buttom #fotter_img a img{
    display: block;
    position: absolute;
    top: -190px;
    display: none;
    left: -15px;
}
#footer #footer_buttom #fotter_img a:hover img{
    
    display: block;
}
#footer #footer_buttom #fotter_img a span{
    display: inline-block;
    width: 21px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95%;
}
#footer #footer_buttom #fotter_img a:hover .img1{
    background-image: url(../img/cx1.png);
}
#footer #footer_buttom #fotter_img a:hover .img2{
    background-image: url(../img/wx1.png);
}
#footer #footer_buttom #fotter_img a:hover .img3{
    background-image: url(../img/kj1.png);
}
#footer #footer_buttom #fotter_img a:hover .img4{
    background-image: url(../img/wb1.png);
}
#footer #footer_buttom #fotter_img .img1{
    background-image: url(../img/cx.png);
}
#footer #footer_buttom #fotter_img .img2{
    background-image: url(../img/wx.png);
}
#footer #footer_buttom #fotter_img .img3{
    background-image: url(../img/kj.png);
}
#footer #footer_buttom #fotter_img .img4{
    background-image: url(../img/wb.png);
}
/* footer结束 */